.container {
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.3fr 0.3fr 2.4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "navbar subbar subbar"
    "navbar content content"
    ". . .";
}

.header { grid-area: header; background-color: #9fada3; position:absolute; left:0; right:0; height:32px; }

.header-icon { position: relative; left:17px; top:3px; height: 32px; }

.header-text { position: fixed; left:65px; top:5px; height:32px; color:black; font-size:12pt; font-family: "Trebuchet MS", sans-serif; }

.navbar { grid-area: navbar; background: #e3e0cc; position:absolute; width: 60px; left:0; top:32px; bottom:0; }

.navbar-flex { display: flex; margin: auto; }

.navbar-image { margin: 0; width: 60px; height: 60px; border-radius: 50%; overflow: hidden; vertical-align: middle; transform: translateY(50%); text-align: center; }

.subbar { grid-area: subbar; background: #f0f0f0; position:absolute; height:32px; left:61; top: 33px; right:0; }

.content { grid-area: content; background-color: #FFFFFF; bottom:0; right:0; }

body{ margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding: 0; color: black; font-size: 10pt; 
    font-family: "Trebuchet MS", sans-serif; background-color: #E2E2E2; overflow: hidden; 
}

