.container {
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.3fr 0.3fr 2.4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "nav bar bar"
    "nav content content"
    ". . .";
}

.header { grid-area: header; background-color: #9fada3; position:absolute; left:0; right:0; height: 32px; }

.nav { grid-area: nav; background: #e3e0cc; width: 60px;}

.bar { grid-area: bar; background: #f0f0f0; height: 32px; }

.content { grid-area: content; }

body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    color: black; 
    font-size: 10pt; 
    font-family: "Trebuchet MS", sans-serif;
    background-color: #E2E2E2;
    overflow: hidden; /* Hide scrollbars */
}

.header-user-icon { position: relative; left:17px; top:3px; height: 32px; }

.header-user-text {
	position: fixed;
    left:65px;
	top:5px;
	height: 32px;
    color: black; 
    font-size: 12pt; 
    font-family: "Trebuchet MS", sans-serif;	
}