

<style type="text/css">
.content {
float: left;
padding: 15px;
}
</style>
<body>
    <div class="content">
        <table border=0" bordercolor="#F35557" width="400px">
        <tr>
            <td width="150px">Settings:</td>
        </tr><tr>
		    <td height="12px"></td>
		</tr><tr>
            <td>
		    <form method ="post" action="/utility">
                <button type="submit" name="submit_a" value="submit_a"> Create Account Balance </button>
             </form>
            </td>		  
        </tr><tr>
            <td>
		       <form method ="post" action="/utility">
      	        <button type="submit" name="submit_b" value="submit_b"> Change Password </button>
               </form>
            </td>		  
        </tr>	
        </table>
    </div>	
</body>