<style type="text/css">
.content {
float: left;
padding: 15px;
}
</style>
<body>
    <div class="content">
	<div>
      <table border=0" bordercolor="#F35557" width="215px">
      <tr >
        <td width="150px">Account Balance</td>
        <td width="65px"align="right">{{ a }}</td>
      </tr><tr>
        <td>Settled</td>
        <td align="right">{{ b }}</td>
      </tr><tr>
        <td>Unsettled</td>
        <td align="right">{{ c }}</td>
      </tr>	
      </table>
	  </div>
    </div>	
</body>