    <a class="navbar-flex" href="/account">
      <div class="navbar-image"><img src="/static/baseline_account_balance_white_24dp.png" class="img-fluid"></div>
    </a>
    <a class="navbar-flex" href="/capital">
      <div class="navbar-image"><img src="/static/baseline_receipt_white_24dp.png" class="img-fluid"></div>
    </a>
    <a class="navbar-flex" href="/positions">
      <div class="navbar-image"><img src="/static/baseline_gavel_white_24dp.png" class="img-fluid"></div>
    </a>	
    <a class="navbar-flex" href="/conditions">
      <div class="navbar-image"><img src="/static/baseline_account_tree_white_24dp.png" class="img-fluid"></div>
    </a>		
    <a class="navbar-flex" href="/settings">
      <div class="navbar-image"><img src="/static/baseline_settings_white_24dp.png" class="img-fluid"></div>
    </a>