<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/login.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Tradinghook</div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
		</div>
	</div>	
</html>
</html>